<div class="default-page">
  <div class="header">
    <h1 id="main-title" class="container"><%= __('NAA Stock Importer') %></h1>
    <h3 class="container">You're looking at: <code><%= view.pathFromApp + '.' +view.ext %></code></h3>
  </div>
  <div class="main container clearfix">
    <section id="latestListing">
    <h1>List of stockItems</h1>
    <table>
      <tr>
        <th>Stock Code</th>
        <th>Barcode</th>
        <th>Stock Description</th>
        <th>Price</th>
      </tr>
        <% for (var i=0; i<stockItems.length; i++) { %>
        <tr>
          <td><%= stockItems[i].StockCode %></td>
          <td><%= stockItems[i].BarCode %></td>
          <td><%= stockItems[i].StockDescription %></td>
          <td><%= stockItems[i].StockPrice %></td>
        </tr>
        <% } %>
    </table>
</section>
  </div>
</div>